table {

    tr {
        background-color: rgba(211, 211, 211, 0.150);
    }
}

textarea {
    height: 150px;
    resize: none;
}

textarea:focus, input[type=text]:focus {
    outline: 1px solid rgba(85, 85, 85, 0.3);
}

.center-me {
    margin: 0 auto;
}

